n8n/chat-general.json
{
  "name": "CHAT GENERAL — Juare Tires",
  "nodes": [

    {
      "parameters": { "httpMethod": "POST", "path": "juare-wa", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300],
      "id": "wh-wa",
      "name": "Webhook WhatsApp",
      "webhookId": "juare-wa"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "juare-messenger", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 460],
      "id": "wh-ms",
      "name": "Webhook Messenger",
      "webhookId": "juare-messenger"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "juare-webchat", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 620],
      "id": "wh-wc",
      "name": "Webhook Webchat",
      "webhookId": "juare-webchat"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "juare-form", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 780],
      "id": "wh-fm",
      "name": "Webhook Formulario",
      "webhookId": "juare-form"
    },

    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nlet canal = 'desconocido', telefono = '', nombre = 'Cliente', mensaje = '', idMensaje = '', tipoMensaje = 'text', audioUrl = '', numeroNegocio = '';\n\nif (body.whatsappInboundMessage) {\n  const wa = body.whatsappInboundMessage;\n  canal         = 'whatsapp';\n  telefono      = wa.from || '';\n  nombre        = wa.customerProfile?.name || 'Cliente';\n  mensaje       = wa.text?.body || wa.image?.caption || '';\n  idMensaje     = wa.wamid || wa.id || '';\n  tipoMensaje   = wa.type || 'text';\n  audioUrl      = wa.audio?.link || '';\n  numeroNegocio = wa.to || '';\n} else if (body.object === 'page' || body.entry) {\n  canal = 'messenger';\n  try {\n    const ev = body.entry?.[0]?.messaging?.[0];\n    telefono      = ev?.sender?.id || '';\n    nombre        = 'Usuario Messenger';\n    mensaje       = ev?.message?.text || '';\n    idMensaje     = ev?.message?.mid || '';\n    numeroNegocio = ev?.recipient?.id || '';\n  } catch(e){}\n} else if (body.canal === 'webchat' || body.source === 'webchat') {\n  canal         = 'webchat';\n  telefono      = body.session_id || body.userId || '';\n  nombre        = body.nombre || 'Visitante';\n  mensaje       = body.mensaje || body.message || '';\n  idMensaje     = body.msg_id || Date.now().toString();\n  numeroNegocio = 'webchat';\n} else if (body.canal === 'formulario' || body.source === 'form') {\n  canal         = 'formulario';\n  telefono      = body.telefono || body.phone || '';\n  nombre        = body.nombre || '';\n  mensaje       = body.mensaje || body.consulta || '';\n  idMensaje     = body.form_id || Date.now().toString();\n  numeroNegocio = 'formulario';\n}\n\nreturn [{ json: { canal, telefono, nombre, mensaje, idMensaje, tipoMensaje, audioUrl, numeroNegocio, ts: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 540],
      "id": "norm",
      "name": "Normalizar Canal"
    },

    {
      "parameters": {
        "jsCode": "const msg = ($json.mensaje || '').toLowerCase();\n\nconst COTIZ = ['cotiz','precio','cuanto','cuánto','cuesta','valen','vale','presupuesto','cuanto sale','cuánto sale'];\nconst STOCK = ['tienen','hay','stock','disponible','existe','manejan','llanta','llantas','rin','rines','medida','seminueva','nueva','usada','r13','r14','r15','r16','r17','r18','r19','r20','175','185','195','205','215','225','235','245','255'];\n\nlet intencion = 'general';\nif (COTIZ.some(k => msg.includes(k))) intencion = 'solicitud_cotizacion';\nelse if (STOCK.some(k => msg.includes(k))) intencion = 'consulta_stock';\n\nreturn [{ json: { ...$json, intencion } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 540],
      "id": "intent",
      "name": "Clasificar Intención"
    },

    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "conditions": [{ "id": "c1", "leftValue": "={{ $json.intencion }}", "rightValue": "consulta_stock", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and", "options": { "caseSensitive": false, "typeValidation": "strict", "version": 2 } },
              "renameOutput": true, "outputKey": "stock"
            },
            {
              "conditions": { "conditions": [{ "id": "c2", "leftValue": "={{ $json.intencion }}", "rightValue": "solicitud_cotizacion", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and", "options": { "caseSensitive": false, "typeValidation": "strict", "version": 2 } },
              "renameOutput": true, "outputKey": "cotizacion"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "general" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [900, 540],
      "id": "sw-intent",
      "name": "Switch Intención"
    },

    {
      "parameters": {
        "operation": "read",
        "documentId": { "value": "{{GOOGLE_SHEETS_SPREADSHEET_ID}}" },
        "sheetName": { "value": "Stock" },
        "options": { "range": "A:F", "headerRow": true }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1120, 380],
      "id": "gs-stock",
      "name": "Leer Stock Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{N8N_GOOGLE_CREDENTIAL_ID}}",
          "name": "{{N8N_GOOGLE_CREDENTIAL_NAME}}"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "const filas = $input.all();\nconst base  = $('Clasificar Intención').first().json;\n\nconst inventario = filas.length\n  ? filas.map(f => {\n      const r = f.json;\n      return `• ${r.Producto||r.producto||'—'} | Medida: ${r.Medida||r.medida||'—'} | Disponible: ${r.Stock||r.stock||'0'} | Precio: ${r.Precio||r.precio||'—'}`;\n    }).join('\\n')\n  : 'Sin datos de inventario disponibles.';\n\nreturn [{ json: { ...base, contexto_extra: `INVENTARIO ACTUAL (solo cita lo que aparece aquí):\\n${inventario}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 380],
      "id": "ctx-stock",
      "name": "Armar Contexto Stock"
    },

    {
      "parameters": {
        "operation": "insert",
        "schema": { "value": "public" },
        "table": { "value": "solicitudes" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono":  "={{ $json.telefono }}",
            "nombre":    "={{ $json.nombre }}",
            "canal":     "={{ $json.canal }}",
            "productos": "={{ $json.mensaje }}",
            "estado":    "Nuevo",
            "prioridad": "MEDIA",
            "bot_bloqueado": false
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 700],
      "id": "pg-sol",
      "name": "Guardar Solicitud BD",
      "credentials": {
        "postgres": {
          "id": "{{N8N_POSTGRES_CREDENTIAL_ID}}",
          "name": "{{N8N_POSTGRES_CREDENTIAL_NAME}}"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "const base = $('Clasificar Intención').first().json;\nreturn [{ json: { ...base, contexto_extra: 'El cliente solicitó una cotización. Confirma amablemente que fue registrada y que en breve un asesor le enviará los precios exactos. No inventes precios.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 700],
      "id": "ctx-cotiz",
      "name": "Contexto Cotización"
    },

    {
      "parameters": {
        "jsCode": "const base = $('Clasificar Intención').first().json;\nreturn [{ json: { ...base, contexto_extra: '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 540],
      "id": "ctx-gen",
      "name": "Contexto General"
    },

    {
      "parameters": {
        "model": { "value": "gpt-4o-mini" },
        "messages": {
          "messageValues": [
            {
              "message": "={{ 'Eres el asistente virtual de Juare Tires, una llantera en Juárez que ofrece llantas nuevas y seminuevas, alineación, balanceo, montaje y reparación.\\n\\nReglas:\\n- Responde siempre en español, de forma amable, breve y profesional.\\n- Si el cliente pregunta por disponibilidad o precios específicos sin datos de inventario, diles que con gusto les cotiza un asesor por WhatsApp.\\n- No inventes precios ni disponibilidad.\\n- Si tienes contexto de inventario, úsalo fielmente.\\n\\n' + ($json.contexto_extra ? $json.contexto_extra + '\\n\\n' : '') + 'Mensaje del cliente: ' + $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1560, 540],
      "id": "agente",
      "name": "Agente IA",
      "credentials": {
        "openAiApi": {
          "id": "{{N8N_OPENAI_CREDENTIAL_ID}}",
          "name": "{{N8N_OPENAI_CREDENTIAL_NAME}}"
        }
      }
    },

    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "conditions": [{ "id": "rc1", "leftValue": "={{ $('Normalizar Canal').first().json.canal }}", "rightValue": "whatsapp", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and", "options": { "caseSensitive": false, "typeValidation": "strict", "version": 2 } },
              "renameOutput": true, "outputKey": "whatsapp"
            },
            {
              "conditions": { "conditions": [{ "id": "rc2", "leftValue": "={{ $('Normalizar Canal').first().json.canal }}", "rightValue": "messenger", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and", "options": { "caseSensitive": false, "typeValidation": "strict", "version": 2 } },
              "renameOutput": true, "outputKey": "messenger"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "web" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [1780, 540],
      "id": "sw-canal",
      "name": "Switch Canal Respuesta"
    },

    {
      "parameters": {
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{ $vars.YCLOUD_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $('Normalizar Canal').first().json.telefono, from: $('Normalizar Canal').first().json.numeroNegocio, type: 'text', text: { body: $('Agente IA').first().json.message.content } }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 420],
      "id": "send-wa",
      "name": "Enviar WhatsApp (YCloud)"
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Normalizar Canal').first().json.numeroNegocio }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.META_PAGE_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipient: { id: $('Normalizar Canal').first().json.telefono }, message: { text: $('Agente IA').first().json.message.content } }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 580],
      "id": "send-ms",
      "name": "Enviar Messenger"
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $('Agente IA').first().json.message.content }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 720],
      "id": "send-web",
      "name": "Responder Webchat/Form"
    }

  ],

  "connections": {
    "Webhook WhatsApp":   { "main": [[{ "node": "Normalizar Canal", "type": "main", "index": 0 }]] },
    "Webhook Messenger":  { "main": [[{ "node": "Normalizar Canal", "type": "main", "index": 0 }]] },
    "Webhook Webchat":    { "main": [[{ "node": "Normalizar Canal", "type": "main", "index": 0 }]] },
    "Webhook Formulario": { "main": [[{ "node": "Normalizar Canal", "type": "main", "index": 0 }]] },
    "Normalizar Canal":   { "main": [[{ "node": "Clasificar Intención", "type": "main", "index": 0 }]] },
    "Clasificar Intención": { "main": [[{ "node": "Switch Intención", "type": "main", "index": 0 }]] },
    "Switch Intención": {
      "main": [
        [{ "node": "Leer Stock Google Sheets", "type": "main", "index": 0 }],
        [{ "node": "Guardar Solicitud BD",      "type": "main", "index": 0 }],
        [{ "node": "Contexto General",           "type": "main", "index": 0 }]
      ]
    },
    "Leer Stock Google Sheets": { "main": [[{ "node": "Armar Contexto Stock", "type": "main", "index": 0 }]] },
    "Armar Contexto Stock":     { "main": [[{ "node": "Agente IA",            "type": "main", "index": 0 }]] },
    "Guardar Solicitud BD":     { "main": [[{ "node": "Contexto Cotización",   "type": "main", "index": 0 }]] },
    "Contexto Cotización":      { "main": [[{ "node": "Agente IA",            "type": "main", "index": 0 }]] },
    "Contexto General":         { "main": [[{ "node": "Agente IA",            "type": "main", "index": 0 }]] },
    "Agente IA":                { "main": [[{ "node": "Switch Canal Respuesta","type": "main", "index": 0 }]] },
    "Switch Canal Respuesta": {
      "main": [
        [{ "node": "Enviar WhatsApp (YCloud)", "type": "main", "index": 0 }],
        [{ "node": "Enviar Messenger",          "type": "main", "index": 0 }],
        [{ "node": "Responder Webchat/Form",    "type": "main", "index": 0 }]
      ]
    }
  },

  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["juare-tires", "chatbot", "black-sheep"],

  "_credenciales_a_crear": {
    "Postgres":      "Apunta a jaure_jaure-db:5432 / db: jaure / user: Jaure",
    "OpenAI":        "API key de OpenAI",
    "Google Sheets": "OAuth2 — cuenta Google con acceso al Sheet de inventario",
    "Variables n8n": {
      "YCLOUD_API_KEY":  "API key de YCloud",
      "META_PAGE_TOKEN": "Token de página de Facebook (para Messenger)"
    }
  },

  "_tokens_a_reemplazar": {
    "{{N8N_POSTGRES_CREDENTIAL_ID}}":   "ID de la credencial Postgres en n8n",
    "{{N8N_POSTGRES_CREDENTIAL_NAME}}": "Nombre de la credencial Postgres",
    "{{N8N_OPENAI_CREDENTIAL_ID}}":     "ID de la credencial OpenAI",
    "{{N8N_OPENAI_CREDENTIAL_NAME}}":   "Nombre de la credencial OpenAI",
    "{{N8N_GOOGLE_CREDENTIAL_ID}}":     "ID de la credencial Google Sheets OAuth2",
    "{{N8N_GOOGLE_CREDENTIAL_NAME}}":   "Nombre de la credencial Google Sheets",
    "{{GOOGLE_SHEETS_SPREADSHEET_ID}}": "ID del Google Sheet de inventario (en la URL)"
  }
}
